/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #EAE1E1;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #C06C84;
  color: white;
  padding: 20px;
  text-align: center;
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header p {
  margin: 10px 0 0;
}

footer {
  background-color: #C06C84;
  color: white;
  padding: 10px;
  text-align: center;
}

footer h2, footer p {
  margin: 5px 0;
}

footer a {
  color: #EAE1E1;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.item {
  background-color: #D5C3C3;
  border: 1px solid #C06C84;
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.item h3 {
  color: #C06C84;
  font-size: 20px;
}

.item p.price {
  color: #333;
  font-weight: bold;
}

.item button {
  background-color: #C06C84;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 14px;
}

.item button:hover {
  background-color: #A8556A;
}

.modal {
  background-color: #EAE1E1;
}

.modal h2 {
  color: #C06C84;
}

button {
  background-color: #C06C84;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
}

button:hover {
  background-color: #A8556A;
}

/* Warna untuk link */
a {
  color: #C06C84;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
img {
  max-width: 100%; /* Responsive images */
  height: auto;
}

@media (max-width: 600px) {
  #produk {
      flex-direction: column;
      align-items: center;
  }
}
